
@import "colours";

$theme-default-padding: .6em !default;

$theme-main-padding-y: $theme-default-padding * 7 !default;

$theme-padding-x: $theme-default-padding !default;
$theme-padding-y: $theme-default-padding !default;

$theme-error: $red !default;
